@tailwind base;
@tailwind colors;
@tailwind components;
@tailwind layout;
@tailwind utilities;
@tailwind filters;
@tailwind spacing;
@tailwind screens;

html, body {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  @apply bg-gray-900;
}

button {
  @apply px-3 py-2 rounded;
  background-color: rgba(0,0,0,0.25);
  border: 1px solid rgba(0,0,0,0.55);
}

button:hover {
  background-color: rgba(0,0,0,0.35);
  border: 1px solid rgba(0,0,0,0.65);
}

.flex-1 {
  flex: 1;
}

.bg-lighter {
  background-color: rgba(255, 255, 255, 0.01);
}

header.application-header {
  @apply py-2 px-5;
  @apply bg-gray-800 border-b border-solid border-gray-600;
  @apply flex items-center;
}
