<header class="application-header">
  <ul class="flex items-center" style="flex: 1">
    <li class="px-2"><LinkTo @route="printer" class="text-blue-200">Printer</LinkTo></li>
    <li class="px-2"><LinkTo @route="patterns" class="text-blue-200">Patterns</LinkTo></li>
  </ul>
  <aside class="ml-auto text-gray-200">
    <p>{{this.model.version}}</p>
  </aside>
</header>
<main class="py-5 text-gray-200 px-5">{{outlet}}</main>
